.movie__banner--container {
    color: white;
    height: 448px;
    background-size: inherit;
    background-position: center;
    background-repeat: no-repeat;
}

.movie__banner--contents {
    margin-left: 35px;
    padding-top: 237px;
    height: 178px;
}

.movie__banner--title {
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 1.3rem;
}

.movie__banner--description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.9rem;
    max-width: 360px;
    height: 80px;
}

.movie__banner--button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    padding-bottom: 0.5rem;
}

.movie__banner--button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.movie__banner--fadeBottom {
    height: 13.5rem;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            #111);
}

.movie__banner--description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1.25rem;
    font-size: 0.9rem;
    max-width: 360px;
    height: 80px;
  }